# choose st-link/j-link/dap-link etc.
# 默认使用 SEGGER J-Link，若要使用其他适配器请注释下列 J-Link 行并启用相应的适配器配置
# 使用 J-Link 接口文件（推荐）
source [find interface/jlink.cfg]
# 如果您的 OpenOCD 发行版 使用 名称为 j-link.cfg 的文件，请改用下面这行：
# source [find interface/j-link.cfg]

# 如果您需要使用 ST-Link，请取消下面两行注释并注释掉上面的 J-Link 行
# source [find interface/stlink-v2.cfg]
# transport select swd

# J-Link 常用设置：传输模式（swd）、适配器速度
transport select swd
adapter speed 4000

# 目标设备配置
source [find target/stm32h7x.cfg]

# 可选参数：根据需要解注释并调整
# download speed = 10MHz
# adapter speed = 10000
# adapter driver jlink
# jlink_khz 4000